<div class="task-card card"
  data-id="<%= task.id %>"
  data-path="<%= skill_task_path(@skill, task) %>"
  data-complete="<%= complete?(task) %>">

  <%= render partial: 'shared/done_ribbon', object: task, as: :item %>

  <% cache(task) do %>

    <div class="card-image">
      <%= image_tag(task.banner.file? ? task.banner.url : @skill.banner.url) %>
    </div>
    <div class="card-header">
      <%= task.title %>
    </div>
    <div class="card-copy">
      <%= truncate(task.description_html) %>
    </div>

  <% end %>

</div>
