<section class="task"
  data-id="<%= task.id %>"
  data-complete="<%= complete?(task) %>"
  data-path="<%= url_for(task) %>">

  <h1><%= task.title %></h1>

  <div class="description">
    <%= task.description_html %>
    <hr/>
  </div>

  <div class="resources">
    <%= render task.external_resources %>
  </div>

  <div class="status">
    <%= render partial: 'status', object: task, as: :task %>
  </div>
</section>
