<% cache mark_safe_cache_key(task) do %>

<section class="task"
  data-id="<%= task.id %>"
  data-complete="<%= complete?(task) %>"
  data-path="<%= skill_task_path(@skill, task) %>">

  <div class="header parallax-window">
    <a href="<%= edit_admin_task_path(task) %>">
      <div class="parallax-static-content">

        <%= render partial: 'shared/completed_ribbon', object: task, as: :item %>

        <span class="title">
          <h1><%= task.title %></h1>
        </span>
      </div>
      <div class="parallax-background" style="background-image: url('<%= asset_path task.banner.file? ? task.banner.url : @skill.banner.url %>');"></div>
    </a>
  </div>

  <span class="modified">Last modified <%= l task.updated_at, format: :short %></span>

  <div class="description">
    <%= task.description_html %>
  </div>

  <div class="resources">
    <%= task.body_html %>
  </div>

  <div class="status">
    <%= render partial: 'status', object: task, as: :task %>
  </div>
</section>

<% end %>
