<section class="task"
  data-id="<%= task.id %>"
  data-complete="<%= complete?(task) %>"
  data-path="<%= skill_task_path(@skill, task) %>">

  <div class="header parallax-window">
    <div class="parallax-static-content">
      <span class="title">
        <h1><%= task.title %></h1>
      </span>
    </div>
    <div class="parallax-background" style="background-image: url('<%= task.banner.url %>');"></div>
  </div>

  <span class="modified">Last modified <%= l task.updated_at, format: :short %></span>

  <div class="description">
    <%= task.description_html %>
    <hr/>
  </div>

  <div class="resources">
    <%= render task.external_resources %>
  </div>

  <div class="status">
    <%= render partial: 'status', object: task, as: :task %>
  </div>
</section>
