<% cache(task_component.component) do %>

    <section class="task-component" data-id="<%= task_component.id %>" data-path="<%= url_for(task_component) %>">

      <% if task_component.component_type == "TextBlock" %>
        <!-- Make my own textblock partial -->
        <div class="text_body <%= task_component.positioning %>">
          <%= task_component.component.body_html %>
        </div>

      <% end %>

      <% if task_component.component_type == "FileUpload" %>
        <!-- Make my own textblock partial -->
        <div class="file_upload <%= task_component.positioning %>">
          <h1><%= task_component.component.title %></h1>
          <%= task_component.component.description_html %>
          <%= image_tag task_component.component.file.url %>
          <a href="<%= task_component.component.file.url %>"><%= task_component.component.file.name %></a>
        </div>

      <% end %>

    </section>

<% end %>
