<div class="skill-card card"
  data-id="<%= skill.id %>"
  data-path="<%= skill_path(skill) %>"
  data-complete="<%= complete?(skill) %>">

  <%= render partial: 'shared/done_ribbon', object: skill, as: :item %>

    <div class="card-image">
      <%= image_tag(skill.banner.url) %>
    </div>
    <div class="card-header">
      <%= skill.title %>
    </div>
    <div class="card-copy">
      <%= truncate(skill.description_html) %>
    </div>
</div>
