<section class="competency"
  data-id="<%= competency.id %>"
  data-path="<%= url_for(competency) %>">

  <div class="header">
    <h1><%= competency.title %> competency</h1>

    <div class="subscribe">
      <% unless subscribed?(competency) %>
        <%= render partial: 'subscribe', object: competency, as: :competency %>
      <% end %>
    </div>
  </div>


  <div class="description">
    <%= competency.description_html %>
  </div>

<!--   <div class="scores">
    <%= render partial: 'scores', object: competency, as: :competency %>
  </div> -->

  <div class="skills">
    <hr/>
    <%= render partial: 'skills/card', collection: competency.skills, as: :skill %>
  </div>

  <div class="status">
    <%= render partial: 'status', object: competency, as: :competency %>
  </div>
</section>
