<nav role="navigation">
  <ul class="navigation-menu">
    <% competencies.each do |competency| %>
      <% next unless competency.subscribed_by?(current_user) %>
        <li class="nav-link competency-status">
          <a href="<%= competency_path(competency) %>">
            <%= competency.title %>
            <%= competency_percentage(competency) %>
            <%= competency_score(competency) %>
            <%= skill_completion(competency) %>
          </a>
        </li>
    <% end %>

    <% competencies.each do |competency| %>
      <% next if competency.subscribed_by?(current_user) %>
        <li class="nav-link competency-status">
          <a href="<%= competency_path(competency) %>">
            <%= competency.title %>
          </a>
        </li>
    <% end %>
  </ul>
</nav>
