<section class="external-resource" data-id="<%= external_resource.id %>" data-path="<%= url_for(external_resource) %>">
  <h1><%= external_resource.title %></h1>

  <div class="embedded-resource">
    <%= external_resource.uri_html %>
  </div>

  <div class="description">
    <%= external_resource.description_html %>
  </div>

</section>
